@media(min-width:1900px){
    #dashboardGrid {
        padding-top:5vh;
        padding-right:10%;
        padding-left:10%;
        text-align: center;
    }
}

#grad {
    min-height: 100vh;
}

#profileColumn {
    align-content: center;
    text-align:left;
}

p {
    font-family: 'Rubik',sans-serif;
    font-weight: 400;
    margin-block-start:1vh;
    margin-block-end: 1vh;
}