@media(max-width:600px){
    .infoGrid {
        text-align:center;
       
    }
    #infoHeader {
        font-size:20px;   
        margin-block-end:10px;
    }
    #infoBlurb {
        font-size:25px;
    }
    
}


#infoHeader {
    font-family: 'Rubik',sans-serif;
    font-size:20px;   
    margin-block-end:5px; 
}
#infoBlurb {
    font-family: 'Rubik',sans-serif;
    margin-block-start:0px;
    margin-block-end:2%;
    font-size:30px;
    
}