@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src:local('Rubik'),
    url('./assets/fonts/rubik/Rubik-Regular.ttf') format('truetype')
}

#grad {
  background-image: linear-gradient(to bottom, #31ff96,white); /* Standard syntax (must be last) */
  
}
@media(max-width:600px){
  .appGrid{
    padding-right:10px;
    padding-left:10px;
  }
}

@media(min-width:601px){
  .appGrid{
    padding-right:24px;
    padding-left:24px;
  }
}

@media(min-width:1280px){
  .appGrid {
    padding-left:50px;
    padding-right:50px;
  }
}
@media(min-width:1904px){
  .appGrid{
    padding-left:20%;
    padding-right:20%;
  }
}
