@media(max-width:600px){
    #loginGrid{
        padding-right:10px;
        padding-left:10px;
    }
}

@media(min-width:601px){
    #loginGrid{
        padding-right:34%;
        padding-left:34%;
    }
}
@media(min-width:1280px){
    #loginGrid{
        padding-right:50px;
        padding-left:50px;
    }
}
@media(min-width:1904px){
    #loginGrid{
        padding-right:34%;
        padding-left:34%;
    }
}

#loginGrid{
    text-align: center;
}
#loginButton{
    margin-top:2vh;
}