@media (max-width:600px) {
    .featureGrid {
        text-align:left;
        padding-right:10px;
        padding-left:10px;
    }
    #featureHeader {
        font-family: Rubik,sans-serif;
        font-size: 20px;
        margin-block-end:0px;
    }
    
    #featureBlurb {
        font-family: Rubik,sans-serif;
        font-size:24px;
        margin-block-start:10px;
        margin-block-end:0px;
    }
    
}

@media (min-width:601px){
    .featureGrid {
        padding-right:24px;
        padding-left:24px;
    }
    #featureHeader {
        font-family: Rubik,sans-serif;
        font-size: 20px;
        margin-block-end:0px;
    }
    
    #featureBlurb {
        font-family: Rubik,sans-serif;
        font-size: 35px;
        margin-block-start: 10px;
    }
    #subGrid {
        margin-top:20px
    }
}
@media(min-width:1280px){
    
    .featureGrid {
        padding-right:20%;
        padding-left:20%;
    }

    #featureHeader {
        font-family: Rubik,sans-serif;
        font-size:20px;
        margin-block-start: 20px;
    }
    
    #featureBlurb {
        font-family: Rubik,sans-serif;
        font-size: 42px;
        margin-block-start:10px
    }
    #subGrid {
        margin-block-start: 20px;
    }
    
}

